---
extends: default

ignore: |
  collections/**
  roles/splunk/files/**
  .github/**
  .git/**
  extras/**
  roles/splunk/defaults/main.yml

rules:
  line-length:
    max: 200
    level: warning
  empty-lines:
    max: 2
    level: error
  indentation:
    spaces: 2
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  brackets:
    max-spaces-inside: 1
    level: error
  trailing-spaces:
    level: error
  document-start:
    present: true
  truthy:
    allowed-values: ['true', 'false']
